.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    animation: fadeInUp 1.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(1vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}