.container {
    background-color: rgb(113, 188, 188);
    color: #E6F7FF; 
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 3rem;
}
.container__welcoming_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vh;
}

.container__welcoming_img img {
    margin: 1vh;
    border-radius: 8px; 
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(239, 247, 252); 
}

.description {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
}
